{% extends 'base.html.twig' %}

{% block title %}Add expense{% endblock %}

{% block body %}



<div class="container mt-5">

    <div>
        <a href="/"><<< Wróć</a>
    </div>
    
    {{ form_start(form) }}

        <div class="form-group mt-3">
            {{ form_label(form.cost) }}
            {{ form_widget(form.cost) }}
            {{ form_errors(form.cost) }}
        </div>

        <div class="form-group mt-3">
            {{ form_label(form.date) }}
            {{ form_widget(form.date) }}
            {{ form_errors(form.date) }}
        </div>

        <div class="form-group mt-3">
            {{ form_label(form.category) }}
            {{ form_widget(form.category) }}
            {{ form_errors(form.category) }}
        </div>

        <button type="submit" class="btn btn-primary mt-2">Zapisz</button>

    {{ form_end(form) }}

</div>

{% endblock %}
